body {
	width: 100%;
	height: 100%;
}
html {
	width: 100%;
	height: 100%;
}
figcaption {
	font-size: 15px;
	color: #666666;
}

@media(min-width:767px) {
	.navbar {
		padding: 20px 0;
		-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
		-moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
		transition: background .5s ease-in-out,padding .5s ease-in-out;
	}
	.top-nav-collapse {
		padding: 0;
	}
}
#back2Top {
	width: 40px;
	line-height: 40px;
	overflow: hidden;
	z-index: 999;
	display: none;
	cursor: pointer;
	-moz-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
	position: fixed;
	bottom: 50px;
	right: 0;
	color: #1c478b; /* 1c478b 337AB7 */
	text-align: center;
	font-size: 30px;
	text-decoration: none;
}
#back2Top:hover {
	color: #000;
}

#picture {
	height: 220px;
	padding: 10px;
}

/* Boxes */
.open-section {
	padding-top: 50px;
	text-align: center;
	background: #fff;
	font-size: 22px;
}
.contain-section {
	display: flex;
	flex-direction: column;
	padding-top: 20px;
	align-items: center;
	font-size: 20px;
	background: #fff;
}
.about-section {
	display: flex;
	text-align: center;
	flex-direction: column;
	padding: 0px 10px 10px 10px;
	background: #F0F0F0;
	/*border: 3px dashed red;*/
}

/* Text */
.overlay-contain {
	position: relative;
}
.text-overlay {
	position: absolute;
	top: -50px;
	padding-right: 30px;
	padding-left: 30px;
	font-size: 140%;
}
.text {
	text-align: left;
	font-size:20px;
}

/* Navbar */
.navbar-brand > a {
	color: #1c478b;
}
.navbar-brand > a:hover {
	color: #000;
}
.navbar-default .navbar-nav > li > a:hover {
	color: #1c478b; /* 333 1c478b */
	background-color: #F0F0F0;
}
.navbar-default {
	background-color: #1c478b; /* 007992 EBFAFF 1c478b */
	border-color: #f3f6f4; /* e7e7e7 f3f6f4 */
	font-size: 20px;
}
.navbar-default .navbar-nav > li > a {
	color: #F0F0F0;
}
