body {
    width: 100%;
    height: 100%;
}
html {
    width: 100%;
    height: 100%;
}
figcaption {
	font-size: 15px;
	color: #666666;
}

/* Phone Scaling */
@media screen and (max-device-width: 480px) {
	.format-box {
		flex-direction: column !important;
	}
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }
    .top-nav-collapse {
        padding: 0;
    }
}
#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    color: #1c478b; /* 1c478b 337AB7 */
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    color: #000;
}

#picture {
	height: 220px;
	padding: 10px;
}

/* Boxes */
.open-section {
    padding-top: 50px;
    text-align: center;
    background: #fff;
	font-size: 20px;
}
.section {
    padding-top: 20px;
    text-align: center;
    background: #fff;
	font-size: 20px;
}
.project-section {
	display: flex;
	flex-direction: column;
	padding-bottom: 10px;
	/*border: 3px dashed red;*/
}
.format-box {
	display: flex;
	align-items: center;
	padding-bottom: 10px;
	/*border: 3px dashed black;*/
}

/* Text */
.overlay-contain {
	position: relative;
}
.text-overlay {
	position: absolute;
	top: -50px;
	padding-right: 30px;
    padding-left: 30px;
	font-size: 140%;
}
.list-text {
	text-align: left;
	font-size:18px;
}

/* Skills Bars */
.bar {
	background: #353b48;
	display: block;
	height: 30px;
	width: 96%;
	margin: 15px;
	overflow: hidden;
	box-shadow: 0 0 5px #60696b;
}
.bar span {
	height: 30px;
	float: left;
	padding-right: 8px;
	text-align: right;
}
.java {
	width: 80%;
	background: #f89917;
	animation: java 2s;
}
@keyframes java {
	0% {
		width: 0%;
	}
	100% {
		width: 80%;
	}
}
.python {
	width: 70%;
	background: #357ab0;
	animation: python 2s;
}
@keyframes python {
	0% {
		width: 0%;
	}
	100% {
		width: 70%;
	}
}
.c {
	width: 60%;
	background: #a8b9cc;
	animation: c 2s;
}
@keyframes c {
	0% {
		width: 0%;
	}
	100% {
		width: 60%;
	}
}
.html {
	width: 40%;
	background: #f16528;
	animation: html 2s;
}
@keyframes html {
	0% {
		width: 0%;
	}
	100% {
		width: 40%;
	}
}
.css {
	width: 35%;
	background: #0096db;
	animation: css 2s;
}
@keyframes css {
	0% {
		width: 0%;
	}
	100% {
		width: 35%;
	}
}
.javascript {
	width: 20%;
	background: #f7df1d;
	animation: javascript 2s;
}
@keyframes javascript {
	0% {
		width: 0%;
	}
	100% {
		width: 20%;
	}
}
.csharp {
	width: 10%;
	background: #9e72d5;
	animation: csharp 2s;
}
@keyframes csharp {
	0% {
		width: 0%;
	}
	100% {
		width: 10%;
	}
}

/* Navbar */
.navbar-brand > a {
	color: #1c478b;
}
.navbar-brand > a:hover {
	color: #000;
}
.navbar-default .navbar-nav > li > a:hover {
	color: #1c478b; /* 333 1c478b */
	background-color: #F0F0F0;
}
.navbar-default {
    background-color: #1c478b;
    border-color: #f3f6f4;
	font-size: 20px;
}
.navbar-default .navbar-nav > li > a {
    color: #F0F0F0;
}
