.link-text {
	color: #d1d1d1;
	
}
.link-text:hover {
	color: #ffffff;
}

.half-spacer {
	height: 50px;
}

.spacer {
	height: 100px;
}

#thumbnail {
	object-fit: contain;
	max-width: 180px;
	width: 110%;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.rel {
	position: relative;
}

.subtitle {
	color: #d1d1d1;
	font-size: 20px;
	font-style: italic;
}

.nerf-p {
	margin: 0px;
	margin-bottom: 2%;
}