/*  Color Scheme  */
/*  Background: #010a1a #031b37 #033346
    Text: #ffffff
    Accent Text: #a3aab4
    Green: #1efc0f
    Blue: rgba(3, 152, 175, 0.5)
*/

@media (max-width: 700px) {
  .App {
    width: 100% !important;
    margin-left: 0 !important;
  }
}

.App {
  text-align: center;
  max-width: 1400px;
  width: 90%;
  /* background-color: #010a1a; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #010a1a;
  background: linear-gradient(315deg, #010a1a 0%, #031b37 90%, #033346 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-header {
  font-size: 20px;
  font-weight: bolder;
}

.banner-align {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width:600px){
  img {
    width: 100%;
  }

  #me {
    height: 200px !important;
    width: 200px !important;
  }

  #video {
    width: 100% !important;
  }
}

img {
	max-height: 300px;
}

#me {
  object-fit: contain; 
  height: 200px; 
  width: 200px; 
  /* border-radius: 50%; */
}

#video {
  aspect-ratio: 16/9;
  width: 520px;
}

#logo {
  height: 70px;
  width: auto;
}

#cert {
  height: 140px;
}