.link-text {
	color: #bcbcbc;
	
}
.link-text:hover {
	color: #ffffff;
}

.spacer {
	height: 100px;
}

#thumbnail {
	object-fit: contain;
	max-width: 180px;
	width: 110%;
}

.rel {
	position: relative;
}