.wrapper {
  height: 15vh;
  /*This part is important for centering*/
  display: grid;
  place-items: center;
  margin-bottom: 30px;
}

.typing-name {
  width: 23ch;
  animation: typing 2s steps(23), blink .5s step-end 20 alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid;
  font-family: monospace;
  font-size: calc(25px + 1vw) !important;
	font-weight: 500;
	color: #1efc0f;
}

.typing-home {
  width: 26ch;
  animation: typing 2s steps(26), blink .5s step-end 20 alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid;
  font-family: monospace;
  font-size: calc(25px + 1vw) !important;
	font-weight: 500;
	color: #1efc0f;
}

.typing-portfolio {
  width: 14ch;
  animation: typing 2s steps(14), blink .5s step-end 20 alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid;
  font-family: monospace;
  font-size: calc(25px + 1vw) !important;
	font-weight: 500;
	color: #1efc0f;
}

.typing-resume {
  width: 12ch;
  animation: typing 2s steps(12), blink .5s step-end 20 alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid;
  font-family: monospace;
  font-size: calc(25px + 1vw) !important;
	font-weight: 500;
	color: #1efc0f;
}

.typing-contact {
  width: 17ch;
  animation: typing 2s steps(17), blink .5s step-end 20 alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid;
  font-family: monospace;
  font-size: calc(25px + 1vw) !important;
	font-weight: 500;
	color: #1efc0f;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}